<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} </title>
    <style>
        body {text-align: center;}
    </style>
</head>
<body>
        <h2>{{ page_title }}</h2>
        {% for record in records %}
            {% if record.picture %}
            <br><br>
                <b>
                    {{ record.title }}
                </b>
                <br>
                    {% with record.content|length as description_length %}
                        {% if description_length > 5 %}
<!--                            {{ record.content|truncatechars:5 }}-->
                            {{ record.content|slice:"5" }}...
                        {% else %}
                            {{ record.content }}
                        {% endif %}
                    {% endwith %}
                </br>
                <br>
                    <p><img src="{{ record.picture.url }}"></p>
                </br>
            {% endif %}
        </br></br>
        {% endfor %}
</body>
</html>
